@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: 'Roboto', sans-serif;

    --landing-background-color: #432450;
    --section-background-color-1: #8e5572;
	--section-background-color-2: #6C464F;
	--section-text-color-1: rgb(255, 224, 232);
	--section-text-color-2: white;
    --highlighted-color: rgb(253, 198, 255);
}

body {
    margin: 0;
}

section {
    margin: 0;
	position: relative;
	height: 100vh;
	background-color: var(--section-background-color-1);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--section-text-color-1);
}

section:nth-child(odd) 
{
	background-color: var(--section-background-color-2);
	color: var(--section-text-color-2);
}

.section-side {
    max-width: 800px;
    width: 50%;
    height: 80%;
	margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    width: 100%;
    padding: 50px 0 0 0;
    margin: 0;
    font-size: 3em;
}

.section-description {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-image {
	background-position: center;
	background-blend-mode: soft-light;
	background-size: cover;
    object-fit: cover;
    width: 90%;
    height: 90%;
    filter: hue-rotate(12deg);
    border-radius: 20px;
}

h1.section-title {
    font-size: 4em;
    padding: 80px 0 0 0;
    display: flex;
    align-items: center;
    vertical-align: bottom;
}

.centre-container {
    display: flex;
    justify-content:center;
    margin: 10px 0;
}

#landing-section {
    background-color: var(--landing-background-color);
}

.left-container {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    width: 100%;
}

.section-frame {
    width: 50%;
	height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.highlighted {
    color: var(--highlighted-color);
}

.divider {
    border: 0.5px solid rgba(255, 174, 241, 0.616);
    width: 100%;
}

.vertical-divider {
    border: 0.5px solid var(--section-text-color-1);
    height: 70%;
}

section:nth-child(odd) .vertical-divider {
    border: 0.5px solid var(--section-text-color-2);
}

a {
    color: var(--highlighted-color);
}

#profile-image {
    filter: sepia(25%);
}

h3 {
    font-size: 1.3  em;
}

#questions {
    width: 80%;
    object-fit: contain;
    opacity: 20%;
}

/* -- Active when the browser width is 1200 or less -- */
@media only screen and (max-width: 1200px) {
	section {
		flex-direction: column;
        height: auto;
        padding: 100px 0;
	}

    #landing-section {
        padding: 0 0 100px 0;
    }

    .section-side {
        width: 90%;
    }

    .section-frame {
        width: 90%;
        height: 100vw;
    }

    .vertical-divider {
        display: none;
    }

    .space {
        display: none;
    }
}

/* -- Active when the browser width is 700 or less -- */
@media only screen and (max-width: 700px) {
    
    h1.section-title {
        font-size: 3em;
    }
}